doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title docAider

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    include includes/css.pug

  body

    include includes/navbar.pug

    // Page Header
    header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            .site-heading
              h1 docAider
              span.subheading Automated Documentation Maintenance for Open-source GitHub Repositories

    // Main Content
    section
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-lg-10
            h2.section-heading.text-center
              span Say Goodbye to Manual Documentation! 
            p.text-center.lead.mb-5
              | Developed in partnership with University College London (UCL), and Microsoft, docAider is designed to automate your documentation process with minimal human intervention. By integrating docAider into a development workflow, software development teams can focus on coding, while docAider takes care of generating and updating the necessary documentation. Whether it's creating new documentation, or updating it on the go, as well as based on pr comments from senior developers, docAider streamlines the entire process. 
            .col
              .centered-image-container(style="display: flex; justify-content: center; align-items: center;")
                img(src="assets/docaider.png", alt="docAider Solution", style="max-width: 100%; height: auto;")

 
          
    include includes/footer.pug

    include includes/scripts.pug
