doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title docAider

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Objectives
                            span.subheading docAider's Objectives.

        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10
                        p 
                            | The goal of docAider to automate the management of open source repositories, including maintaining and updating GitHub documentation. This page outlines the essential requirements crucial for the development, implementation, evaluation, and long-term sustainability of the docAider.
                        
                        p
                
                            | Requirements 

                        ul 
                            li Understand LLM/SLM, Microsoft Semantic Kernel, Microsoft Autogen and Windows AI Studio: The system should inetegrate these tools when developing the solution.
                            li Automate Documentation Maintenance - The system should automatically and accurately check and update GitHub documentation to ensure it is current and accurate.
                            li Open Source Repository Management: The final solution should help automate the overall management of open source repositories

        include includes/footer.pug

        include includes/scripts.pug