doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title docAider

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 About the Team
                            span.subheading Meet the people behind the project.

        // Main Content
        section#team
            .container
                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/dias.png', alt='Team Member 1')
                            .card-body
                                h4.card-title Dias Jakupov - Team Leader
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer. 
                                a(href='https://github.com/Dias2406/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='https://www.linkedin.com/in/dias-jakupov-a05258221/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/tomas.jpg', alt='Team Member 3')
                            .card-body
                                h4.card-title Tomas Kopunec
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer.
                                a(href='hhttps://github.com/TomasKopunec/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='https://www.linkedin.com/in/tomas-kopunec-425b0199/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')

                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/fatima.jpg', alt='Team Member 4')
                            .card-body
                                h4.card-title Fatima Hussain
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer.
                                a(href='hhttps://github.com/fatimahuss/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='http://linkedin.com/in/fatima-noor-hussain/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')

                .row
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/tanmay.jpg', alt='Team Member 5')
                            .card-body
                                h4.card-title Tanmay Thaware
                                p.card-text MSc in Software Systems Engineering, UCL and Full Stack Developer.
                                a(href='https://github.com/tanmaythaware/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='"http://linkedin.com/in/tanmaythaware/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')

                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/user.png', alt='Team Member 2')
                            .card-body 
                                h4.card-title Chengqi Ke
                                p.card-text MSc in Software Systems Engineering, UCL, and Full Stack Developer.
                                a(href='https://github.com/CQ-Ke/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='http://linkedin.com/in/chengqi-ke-9b91a8313/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')
                                  
                    .col-lg-4.mb-5
                        .card.h-100
                            img.card-img-top(src='assets/user.png', alt='Team Member 6')
                            .card-body
                                h4.card-title Zena Wang
                                p.card-text MSc Software Systems Engineering, UCL and Full Stack Developer.
                                a(href='https://github.com/ZenaWangqwq/') 
                                  img(src='assets/github.png', alt='GitHub', style='width: 30px; height: 30px;')
                                a(href='https://www.linkedin.com/in/zena-wang-b63a8822b/')
                                  img(src='assets/linkedin.png', alt='LinkedIn', style='width: 30px; height: 30px;')


        include includes/footer.pug

        include includes/scripts.pug
