pyautogen==0.2.32
azure-core==1.30.2
azure-search-documents==11.4.0
python-dotenv==1.0.1
pytest==8.2.2
gitpython==3.1.43
astunparse==1.6.3
semantic-kernel==1.2.0
ordered-set==4.1.0
PyGithub==2.3.0
chardet==5.2.0
markdown==3.6